name: CD Pipeline

permissions:
  contents: write
  issues: write

on:
  push:
    branches: [main, master]
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
    branches: [main, master]

jobs:
  semver:
    uses: woped/devops/.github/workflows/semver-and-release-notes.yaml@main

  approval:
    uses: woped/devops/.github/workflows/manual-approval.yaml@main
    needs: semver
    with:
      VERSION: ${{ needs.semver.outputs.VERSION }}

  gh_release:
    uses: woped/devops/.github/workflows/github-release.yaml@main
    needs: [semver, approval]
    with:
      VERSION: ${{ needs.semver.outputs.VERSION }}
      RELEASE_NOTES: ${{ needs.semver.outputs.RELEASE_NOTES }}

  docker_build_and_push_python:
    uses: woped/devops/.github/workflows/docker-build-and-push-python.yaml@main
    needs: [semver, approval]
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
